/*custom cursor start here*/

/*custom cursor ends here*/

/* full body start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: rgba(247, 247, 247, 1);*/
}
/* full body ends here */

/* nav bar starts here */
nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
  /*nav bar blur start here*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px;
  /*nav bar blur ends here*/

  /*gradient mask to blur the bottom start here*/
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.4) 100%);
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.4) 100%);
}

ul.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  list-style: none;
  border-radius: 15px;
}

li.brand {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 5px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.445);
  flex: 1;
}

li a {
  color: rgba(0, 0, 0, 0.445);
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

li a:hover {
  color: #594d07; /* gold on hover */
}
/* nav bar ends here */

/*home section start here*/
.home{
    height: 100px;
}
/*home section ends here*/
